.footer {
  width: 100%;
  padding: 50px 0 50px 0;
  background: $bg;
  .footer_wrap {
    display: flex;
    flex-direction: column;
    .footer_title {
      font-size: 17px;
      padding-bottom: 30px;
      a {
        color: $black;
        text-decoration: none;
        transition: 0.8s;
        &:hover {
          color: $green;
        }
      }
    }
    .footer_line {
      width: 35px;
      height: 3px;
      background: rgba(255, 183, 48, 1);
    }
    .footer_info {
      padding: 30px 0;
      color: $gray;
      font-size: 15px;
      width: 220px;
      img {
        padding-right: 10px;
        cursor: pointer;
      }
      input {
        width: 100%;
        background-color: transparent;
        border: 1px solid #000;
        padding: 5px 15px;
        &:hover {
          border: 3px solid $gray;
        }
      }
      button {
        width: 100%;
        background-color: $gray;
        border: none;
        margin-top: 5px;
        padding: 5px 15px;
        color: $white;
        &:hover {
          background-color: $white;
          color: rgb(16, 29, 41);
        }
      }
    }
    .footer_mail {
    }
  }
}
